<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <section class="row bg-dark p-4">
        <!-- ================= -->
        <div class="col-md-4">
            <h4 class="text-white"> About Us</h4>
            <p class="text-white"> Rodgers is always pasuasive in his life no matter what he encounters.
                Software engineering is the branch of computer science that deals with the design, development, testing, and maintenance of software applications. Software engineers apply engineering principles and knowledge of programming languages to build software solutions for end users.
                
                Software engineers design and develop computer games, business applications, operating systems, network control systems, and middleware—to name just a few of the many career paths available.
                
                A career as a software engineer can be both fun and challenging with opportunities to work in almost any industry, including large and small businesses, government agencies, nonprofit organizations, healthcare facilities, and more. And as technology continues to evolve, the need for software developers continues to grow. Many companies are also shifting towards hiring software engineers who work from home, allowing for increased flexibility and more opportunities to enter the field.
                
                </p>



        </div>
        <!-- ================ -->
        <div class="col-md-4">
            <h3 class="text-white"> Contact us</h3><br>

        <form action="">
           
            <fieldset>
                
                <input type="email" placeholder="Enter email" class="form-control"><br><br>
                <textarea name="" id="" cols="30" rows="10" placeholder="leave a comment" class="form-control"></textarea><br>
               <input type="submit" value="Send Message" class="btn btn-danger" >


        

        
    </fieldset>
    </form>
</div>
<div class="col-md-4">
    <h3 class="text-white"> Stay connected</h3><br>
    <img src="../static/images/fb.png" alt="fb">
    <img src="../static/images/in.png" alt="ig">
    <img src="../static/images/x.png" alt="x"><br>
    <p>Software engineers design and develop computer games, business applications, operating systems, network control systems, and middleware—to name just a few of the many career paths available.
        A career as a software engineer can be both fun and challenging with opportunities to work in almost any industry, including large and small businesses, government agencies, nonprofit organizations, healthcare facilities,
    </p>









</div>
        




      </section>
</section>
<br><hr>
<footer class="bg-dark text-center text-white pd-4">

  <b> Developed by The great Rodgers.&copy;2024.All Rights RSeserved</b>
</footer>

</body>
</html>